In [2]:
import glob
import json
from pathlib import Path

import pandas as pd

In [12]:
fn, fs = [], []
for file in glob.glob('../source/*.json'):
    with open(file) as fd:
        fn.append(file)
        fs.append(json.load(fd))

df = pd.concat([pd.json_normalize(f) for f in fs])

In [13]:
df.head()

   count        date  status                               text
0      1  2021-01-01    True        dog hits dutifully adorable
0      2  2021-01-01    True  rabbit hits occasionally adorable
0      3  2021-01-01    True        cat runs dutifully clueless
0      4  2021-01-01    True         monkey jumps dutifully odd
0      1  2021-01-02    True          monkey runs dutifully odd

In [14]:
df.tail()

   count        date  status                              text
0      2  2023-05-29    True      cat jumps foolishly clueless
0      3  2023-05-29    True    monkey runs foolishly clueless
0      1  2023-05-30    True        dog jumps merrily adorable
0      2  2023-05-30    True      rabbit runs crazily adorable
0      3  2023-05-30    True  puppy hits occasionally adorable

In [15]:
len(df)

2069

In [16]:
len(df[df.status == False])

194

In [17]:
df_fail = df[df.status == False]

count                          2
date                  2021-01-03
status                     False
text      dog runs dutifully odd
Name: 0, dtype: object

In [20]:
for i in range(10):
    print(fn[i], fs[i])

../source\2021-01-01_1.json {'count': 1, 'date': '2021-01-01', 'status': True, 'text': 'dog hits dutifully adorable'}
../source\2021-01-01_2.json {'count': 2, 'date': '2021-01-01', 'status': True, 'text': 'rabbit hits occasionally adorable'}
../source\2021-01-01_3.json {'count': 3, 'date': '2021-01-01', 'status': True, 'text': 'cat runs dutifully clueless'}
../source\2021-01-01_4.json {'count': 4, 'date': '2021-01-01', 'status': True, 'text': 'monkey jumps dutifully odd'}
../source\2021-01-02_1.json {'count': 1, 'date': '2021-01-02', 'status': True, 'text': 'monkey runs dutifully odd'}
../source\2021-01-02_3.json {'count': 3, 'date': '2021-01-02', 'status': True, 'text': 'cat hits crazily odd'}
../source\2021-01-02_4.json {'count': 4, 'date': '2021-01-02', 'status': True, 'text': 'puppy runs foolishly clueless'}
../source\2021-01-02_5.json {'count': 5, 'date': '2021-01-02', 'status': True, 'text': 'dog jumps occasionally adorable'}
../source\2021-01-03_1.json {'count': 1, 'date': '2021-01-03', 'status': True, 'text': 'rabbit jumps dutifully adorable'}
../source\2021-01-03_2.json {'count': 2, 'date': '2021-01-03', 'status': False, 'text': 'dog runs dutifully odd'}